* {
  padding: 0;
  margin: 0;
}


body {
  margin-top: 200px;  
  text-align: center;
  background:#937B69 ;
  color: white;
}

h1 {
  margin: 30px 0 40px 0;
  font-size: 20px;
}

/* select */
select {
  margin-bottom: 30px;
  color: #937B69;
  padding: 10px 25px;  
  border-radius: 64px;
  text-align: center;
}

/* display  */
.display {
  background: white;
  width: 300px;
  height: 80px;
  margin: auto;   
  border-radius: 10px;
  color: #937B69;
  line-height: 80px;
}


/* bun */

#btn {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  line-height: 100px;

  color: #937B69;
  font-weight: bold;
  font-size: 25px;

  cursor: pointer; 
  box-shadow: 6px 10px 0px rgb(65, 60, 60); 

  user-select: none;  
  margin-top: 25px;
}

#btn:hover {
  opacity: 0.9;
}

#btn:active {
box-shadow: 3px 5px 0px rgb(65, 60, 60); 
margin-top: 30px;
}


.hobby {
  display: none;
}
.love {
  display: none;
}
.other {
  display: none;
}

/* test */
